/* Margin resets for block-level elements */

html {
	background: #FFF;
	color: #000;
	margin: 1em;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, cite, label, dl, ul, ol, fieldset, address {
	clear: both;
	margin: 1em 0;
	padding: 0;
	text-indent: 0;
}

p {
	clear: inherit;
}

table {
	border-collapse: collapse;
	border-spacing: .3em;
	clear: both;
}

caption, th {
	text-align: left;
}

table, td {
	font-size: inherit;
}

ul, ol, li, dd, blockquote {
	margin-left: 1em;
}

/* Typography resets for normal text, semantic text, and headings */

body {
	font-size: 76%;
	font-style: normal;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	margin: .5em 0 .3em 0;
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1.0em; }

address, abbr, acronym {
	font-style: normal;
}

acronym, abbr {
	border-bottom: 1px dotted #333;
	cursor: help;
}

acronym {
	text-transform: uppercase;
}

pre, kbd, code, samp, tt, var {
	font-family: monospace;
}

pre {
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

del {
	text-decoration: line-through;
}

/* get forms to show up correctly */

form {
	margin: 1em 0;
	padding: 0;
}

form label {
	cursor: pointer;
	margin: 0;
	padding: .3em;
}

fieldset {
	border: none;
}

select, textarea {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
}

/* list element margins and default styles */

ul { list-style-type: disc; }
ul ul { list-style-type: circle; }
ul ul ul { list-style-type: square; }
ul ul ul ul { list-style-type: disc; }

ol { list-style-type: decimal; }
ol ol { list-style-type: upper-alpha; }
ol ol ol { list-style-type: lower-roman; }
ol ol ol ol { list-style-type: decimal; }

/* Miscellaneous oddities and fixes */

a img {
	border: none;
}

hr {
	background-color: #666;
	border-width: 0;
	height: 1px;
	text-align: left;
	width: 95%;
}

iframe {
	border-width: 0;
}

:focus {
	outline: 0;
}

/* Common classes */

.hidden {
	display: none;
	visibility: hidden;
}

.visible {
	display: block;
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

.cleanup {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
}